body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
h6 {
    font-size: calc(1.375rem + 1.5vw);
}
h3{
	font-size: calc(1.500rem + 1.6vw);
}

.navbar {
    background:#1e90ff;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('images/tftbackground.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}


.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #1e90ff;
}
.description p {
	color: #fff;
	font-size: 1.0rem;
	line-height: 1.5;
}
.description button {
    border:1px solid #1e90ff;
    background:#1e90ff;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 15px 32px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #1e90ff;
	font-size: 1.7rem;
	font-weight: 800;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.title-traits {
	color: #000000;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
	
.background {
	background: #808080;
	padding: 4em 0;
}
.traits-bg{
	background: #808080;
	padding: 4em 0;
}
.roster-bg{
	background: #fff;
	padding: 4em 0;
}

.team {
	color: #daa520;
	padding: 0 180px;
}
.traits-title {
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #daa520;
}
 .title {
 	left: 50%;
	position: relative;
	font-size: 1.5rem;
	margin-top: 3%;
	transform: translate(-50%, -50%);
	text-align: center;
 }

 .traits {
	display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000	;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #fff;	
    background-size: 1000px;
    border: 1px solid #fff	;
    padding: 1.0rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 .column {
  flex: 33.33%;
  padding: 5px;
}
.column1 {
  flex: 25%;
  padding: 5px;
}
 	.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row-normal {
    margin-left: -7px;
    margin-right: -7px;
}
.card2 {

    background-color: #daa520;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.cardt {

    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.rowing {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}
.btn2 {
	display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #696969;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #daa520;
    border: 1px solid #daa520;
    padding: 15px 32px;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.dropzone {
    margin: 7em;
    padding: 1em;
    position: relative;
}
.row3 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row4 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(2 * var(--bs-gutter-x));
    margin-left: calc(-3 * var(--bs-gutter-x));
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.character-wrapper {
    align-content: flex-start;
}
.characters-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.dropzone{
	display: flex;
    flex-wrap: wrap;
    width: 700px;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.div1{
	  width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
        
}
.div2{
	  width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
        
}
.div3{
	  width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
        
}
.div4{
	  width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
        
}
.div5{
	  width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
        
}
.div6{
	  width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
        
}
.div7{
	  width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
        
}



.character-icon {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    border: 1px solid #17313a;
    vertical-align: initial;
    transition: all .3s;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: relative;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {	
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.1rem;
    }

 	.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
	}
    .features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
	}
	.features1 {
	margin: 4em auto;
	padding: 1em;
	position: relative;
	}
	.feature-title {
	color: #1e90ff;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
	}
    .features img {
    	width: 80px;
    	height: 80px;
		-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		margin-bottom: 8px;
	}
    .container {
    max-width: 500px;
    height: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: calc(3 * var(--bs-gutter-x));;
    margin-left: calc(3 * var(--bs-gutter-x));;
    margin-bottom: calc(3 * var(--bs-gutter-y));
    text-align: center;
	}
	.team {
	color: #daa520;
;
	}
	.team img{
	width: 80px;
	height: 80px;
}
	.traits-bg{
	background: #808080;
	padding: 4em 0;
}
	.features1 img{
		width: 200px;
		height: 120px;
	}
    .dropzone {
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    font-family: "Raleway",sans-serif;
    font-size: 5px;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
	}

    .row3 {

    height: 40px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(0 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(0.5 * var(--bs-gutter-x));
	}
    .row4 {
    height: 40px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(0 * var(--bs-gutter-y));
    margin-right: calc(0 * var(--bs-gutter-x));
    margin-left: calc(0 * var(--bs-gutter-x));
	}

    .div1{
	  width: 40px;
      height: 40px;
      padding: 10px;
      border: 1px solid #aaaaaa;
    }
	
	.div2{
		  width: 40px;
	      height: 40px;
	      padding: 10px;
	      border: 1px solid #aaaaaa;
	        
	}
	.div3{
		  width: 40px;
	      height: 40px;
	      padding: 10px;
	      border: 1px solid #aaaaaa;
	        
	}
	.div4{
		  width: 40px;
	      height: 40px;
	      padding: 10px;
	      border: 1px solid #aaaaaa;
	        
	}
	.div5{
		  width: 40px;
	      height: 40px;
	      padding: 10px;
	      border: 1px solid #aaaaaa;
	        
	}
	.div6{
		  width: 40px;
	      height: 40px;
	      padding: 10px;
	      border: 1px solid #aaaaaa;
	        
	}
	.div7{
		  width: 40px;
	      height: 40px;
	      padding: 10px;
	      border: 1px solid #aaaaaa;
	        
	}
	.page-footer {
	height: 400px;
    background-color: #222;
    color: #ccc;
    padding: 30px 0 15px;
    font-size: 10px;
	}

	.footer-copyright {
    color: #666;
    padding: 40px 0;
	}

	.character-wrapper {
    align-content: flex-start;
    width: 40px;
	height: 40px;
	padding: 10px;
	
	}

	.character-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid #17313a;
    vertical-align: initial;
    transition: all .3s;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 26px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}
video{
	width: 200px;
	height: 100px;
}

}
