{% extends 'base.html' %}

{% block content %}


   <h1>Members Database</h1>

   {% for item in all %}
      <strong>User: {{ item.username }} </strong><br/>
      Email: {{ item.email }}<br/>
      <hr>
   {% endfor %}
   <div class="mt-5 text-center">
      <a href="{% url 'join' %}" class="btn btn-secondary btn-lg">Create New User</a>
   </div>

   <div class="mt-5 text-center">
      <a href="{% url 'products' %}" class="btn btn-secondary btn-lg">Take me to the Food Tracker</a>
   </div>
{% endblock %}